#img-bg {

 min-width: 100%;
 min-height: 100%;
}

body {background-image: url('');overflow-y: hidden;}

#v {
 display: none;
 position: fixed; 
 top: 0; 
 left: 0; 
 /* Préserve le ratio de l'image */
 min-width: 100%;
 min-height: 100%;
}

#secret {cursor: initial;}