#img-bg {
<<<<<<< HEAD

 min-width: 100%;
 min-height: 100%;
}

body {background-image: url('');overflow-y: hidden;}

 /* Fixe l'image en haut à gauche de la page */
 max-width: 100%;
 max-height: 100%
}

body {background-image: url('')}

#v {
 display: none;
 position: fixed; 
 top: 0; 
 left: 0; 
 /* Préserve le ratio de l'image */
 min-width: 100%;
 min-height: 100%;
}

#secret {cursor: initial;}

